%p.admin_url= url_for(:admin, :show, :id => 25)
%p.app_admin_url= url_for(:routing_demo, :admin, :show, :id => 25)
%p.admin_url2= url_for(:admin, :update, :id => 10, :name => "test")
%p.admin_url3= url_for(:admin, :destroy, :id => 12)
%p.account_url= url_for(:account, :name => 'foobar', :id => 10)
%p.accounts_index=url_for(:accounts)
%p.app_accounts_index=url_for(:routing_demo, :accounts)
